[submodule "nix/ethereum.nix"]
        path = nix/ethereum.nix
        url = https://github.com/nix-community/ethereum.nix.git
[submodule "nix/xrust"]
        path = nix/xrust
        url = https://github.com/meta-introspector/xrust.git
[submodule "nix/erdfa-publish"]
        path = nix/erdfa-publish
        url = https://github.com/meta-introspector/erdfa-publish.git
[submodule "nix/fractran-vm"]
        path = nix/fractran-vm
        url = /home/mdupont/.emacs.d.kiro/kiro.el-research/fractran-vm
